/* ----------------------------------- Content ------------------------------------------------ */
*{
    font-family: Arial;
}

html, body {
    margin: 0px;
    padding: 0px;
}

/* Section Index */
section {
    float: left;
    width: 30%;
    height: 10%;
    margin: 2%;
    padding: 2%;
    border: black 2px solid;
    text-align: justify;
    margin-left: 10%;
}

section img{
    width: 98%;
}

section a{
    text-decoration: none;
    background-color: #faeddc;
    padding: 1%;
    border: 1px;
    border-color: black;
    border-style: solid;
    margin-left: 1%;
    color: #111;

    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

section a:hover{
    background-color: #596d94;
    color: white;
}

/* Section Page 1*/
.sect1{
    width: 75%;
    height: 40%;

    padding: 2%;

    border: black 2px solid;
    text-align: justify;
}

.sect1 div{
    margin-bottom: 1%;
}

.sect1 img{
    float: right;
    width: 30%;
    height: 30%;
}

/* Section Page 1.1 */
.sect2{
    width: 30%;
    height: 70%;
    margin: 2%;
    padding: 2%;
    border: black 2px solid;
    text-align: justify;
    margin-left: 10%;
}

.sect2 img{
    width: 98%;
}

article {
    padding-top: 2%;
    text-align: center;
    background-color: white;
}

.body-page{
    background-color: #E6CCE7;
}

pre p{
    position: relative;
    top: 100%;
    right: -50%;
}


/* ---------------------------------- Carrusel ------------------------------------------------ */
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

/* ---------------------------------- Nav ------------------------------------------------ */
nav{

    position: fixed;
    top: 40px;
    right: 2.5%;
    z-index: 999;
    background: none;
    border: 0;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-color: transparent;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    
}

ul{
    display: none;
}

input:checked  ~ ul{
    display:block;
}
  
input {
    display: none;
}
  
label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    background-color: #E6CCE7;
}
  
  /* Estilo del boton cuando se pasa el mouse por encima*/
label:hover{
    background: grey;
}
  
  /* Estilo del boton cuando el menú está expandido*/
input:checked ~ label {
    background: lightgrey; 
}
  
ul{
    margin-top:0;
    padding: 0;
    width: 90px;
}

li{
    list-style: none;
}
  
li a{
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
    text-decoration: none;
}
  
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
li:hover {
    filter: brightness(110%);
}

/* ---------------------------------- Canvas ------------------------------------------------ */
  canvas {
    outline: none;
    border: 0;
    top:0%;
}

body.hasFrameBorder canvas:first-of-type {
    position: absolute;
    left: 50%;
    top: 36.5%;
	transform: translate(-95%, -50%); 
    margin: auto;
    display: block;

}

pre{
    margin-bottom: 20%;
}

/* ---------------------------------------  Footer ------------------------------------------- */

footer{
    clear: left;
    column-count: 2;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    column-rule: black solid 1px;
}

.prefooter{
    clear: left;
    background-color: #E6CCE7;
    padding: 2%;
}

/* -----------------------------------------  Header ------------------------------------------ */
header{
    background-color: #E6CCE7;
}

/* -----------------------------------------  Button ------------------------------------------ */
footer a{
    text-decoration: none;
    background-color: #faeddc;
    padding: 1%;
    border: 1px;
    border-color: black;
    border-style: solid;
    margin-left: 1%;
    color: #111;

    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

footer a:hover{
    background-color: #596d94;
    color: white;
}

.realizado {
    padding-top: 20px;
}

.github {
    padding-top: 30px;
}